@model SecondHandMarket.Models.CreateViewModel
@inject ICategorySelectService service

@{
    ViewData["Title"] = "Create";
}

<h3>Lägg in annons hos SeconHandMarket</h3>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-6 start" style="padding-left:0">
                <label asp-for="@Model.Advertisement.CategoryId" class="control-label"></label>
                <select asp-for="@Model.Advertisement.CategoryId" class="form-control" id="categories" asp-items="@await service.GetCategoriesAsync()"></select>
                <span asp-validation-for="@Model.Advertisement.CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6 start" style="padding-left:0">
                <label asp-for="@Model.Advertisement.LocationId" class="control-label"></label>
                <select asp-for="@Model.Advertisement.LocationId" class="form-control" id="locations" asp-items="ViewBag.LocationId">
                    <option value="0" disabled="disabled" , selected="selected">Välj län</option>
                </select>
                <span asp-validation-for="@Model.Advertisement.LocationId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 start" style="padding-left:0">
                <label asp-for="@Model.Advertisement.SubLocationId" class="control-label">Kommun</label>
                <select asp-for="@Model.Advertisement.SubLocationId" class="form-control" id="sublocations">
                    <option value="0" disabled="disabled" , selected="selected">Välj kommun</option>
                </select>
                <span asp-validation-for="@Model.Advertisement.SubLocationId" class="text-danger"></span>
            </div>           
            <div class="form-group">
                <label asp-for="@Model.Advertisement.Title" class="control-label"></label>
                <input asp-for="@Model.Advertisement.Title" class="form-control" />
                <span asp-validation-for="@Model.Advertisement.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Advertisement.Description" class="control-label"></label>
                <textarea asp-for="@Model.Advertisement.Description" class="form-control" style="height:150px">Beskriv din annons</textarea>
                <span asp-validation-for="@Model.Advertisement.Description" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 start" style="padding-left:0">
                <label asp-for="@Model.Advertisement.Price" class="control-label"></label>
                <input asp-for="@Model.Advertisement.Price" class="form-control" />
                <span asp-validation-for="@Model.Advertisement.Price" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-left:0">
                <p>Lägg till bild</p>
                <input type="file" accept="image/*" id="fileId" asp-for="@Model.File" />
                <span asp-validation-for="@Model.File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lägg in annons" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
