@model SecondHandMarket.Models.CreateViewModel
@inject ICategorySelectService service

@{
    ViewData["Title"] = "Create";
}

<h3>Lägg in annons hos SeconHandMarket</h3>
<hr />
<div class="row">
    <div class="col-lg-10 col-md-12">
        <form asp-action="Create" id="createForm" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="@Model.Advertisement.CategoryId" class="control-label"></label>
            <div class="input-group col-lg-4 col-md-5 start" style="padding-left:0">
                <select asp-for="@Model.Advertisement.CategoryId" class="form-control" id="categories" asp-items="@await service.GetCategoriesAsync()"></select>
            </div>
            <span asp-validation-for="@Model.Advertisement.CategoryId" class="text-danger inline"></span>

            <label asp-for="@Model.Advertisement.LocationId" class="control-label mt-3"></label>
            <div class="input-group col-lg-4 col-md-5 start" style="padding-left:0">
                <select asp-for="@Model.Advertisement.LocationId" class="form-control" id="locations" asp-items="ViewBag.LocationId">
                    <option value="0" disabled="disabled" , selected="selected">Välj län</option>
                </select>
            </div>
            <span asp-validation-for="@Model.Advertisement.LocationId" class="text-danger inline"></span>

            <label asp-for="@Model.Advertisement.SubLocationId" class="control-label mt-3">Kommun</label>
            <div class="input-group col-lg-4 col-md-5 start" style="padding-left:0">
                <select asp-for="@Model.Advertisement.SubLocationId" class="form-control" id="sublocations" asp-items="ViewBag.SubLocationId">
                    <option value="0" disabled="disabled" , selected="selected">Välj kommun</option>
                </select>
            </div>
            <span asp-validation-for="@Model.Advertisement.SubLocationId" class="text-danger inline"></span>

            <label asp-for="@Model.Advertisement.Title" class="control-label mt-3"></label>
            <div class="input-group col-lg-8 col-md-9" style="padding-left:0">
                <input asp-for="@Model.Advertisement.Title" class="form-control" />
            </div>
            <span asp-validation-for="@Model.Advertisement.Title" class="text-danger inline"></span>

            <label asp-for="@Model.Advertisement.Description" class="control-label mt-3"></label>
            <div class="input-group col-lg-8 col-md-9" style="padding-left:0">
                <textarea asp-for="@Model.Advertisement.Description" class="form-control" style="height:150px">Beskriv din annons</textarea>
            </div>
            <span asp-validation-for="@Model.Advertisement.Description" class="text-danger inline"></span>

            <label asp-for="@Model.Advertisement.Price" class="control-label mt-3"></label>
            <div class="input-group col-lg-3 col-md-4 start" style="padding-left:0">
                <input asp-for="@Model.Advertisement.Price" class="form-control" />
                <div class="input-group-append">
                    <span class="input-group-text">kr</span>
                </div>
                <span asp-validation-for="@Model.Advertisement.Price" class="text-danger inline"></span>
            </div>
            <div class="form-group myFormGroup mt-3" style="padding-left:0">
                <p>Bilder</p>
                <span asp-validation-for="@Model.Files" class="text-danger inline"></span>

                <div class="img-wrap">
                    <input type="file" class="file" accept="image/*" onchange="previewImage(event)" asp-for="@Model.Files" style="padding-left:0" />
                    <span class="delete" onclick='removeDiv(this)'>&times;</span>
                    <img class="upload-Btn img-wrap" src="~/Pics/Välj bild.PNG" onclick="upload(event)">
                </div>
                @for (int i = 1; i < 6; i++)
                {
                    <div class="img-wrap">
                        <input type="file" class="file" accept="image/*" onchange="previewImage(event)" asp-for="@Model.Files" style="padding-left:0" />
                        <span class="delete" onclick='removeDiv(this)'>&times;</span>
                        <img class="upload-Btn img-wrap" src="~/Pics/kamera.PNG" onclick="upload(event)">
                    </div>

                }
            </div>
            <div class="form-group">
                <input type="submit" value="Lägg in annons" id="submitbutton" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div class="modal fade" id="AdvertisementCreated" tabindex="-1" role="dialog" aria-labelledby="aModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title" id="aModalLabel">TESTEST</h5>*@
            </div>
            <div class="modal-body">
                @ViewBag.Result
            </div>
            <div class="modal-footer">
                <a  asp-action="Index">Visa annonser</a> @*TODO kanske skicka till mina annonser sida*@
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>

@{
    if (ViewBag.Result != null)
    {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#AdvertisementCreated").modal('show');
            });
        </script>
    }
}
